<div class="row">
    <aside class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><%= @user.name %></h3>
            </div>
        </div>
    </aside>
    <div class ="col-sm-8">
        <ul>
            <li class="nav-item"><a href="#" class="nav-link">Tasks</a></li>
        </ul>
    </div>
</div>
